.heading {
background-color: #ea5169;
opacity: .8;
color: black;
font-family: sans-serif;
font-size: 32px;
width: 100%;
}

body {
  background-image: https://cdn.shopify.com/s/files/1/0740/0635/products/95575.jpg?v=1424441893
}

.paragraph {
  margin: 5px;
  padding: 2px;
  border-style: solid;
  border-width: medium;
  border-color: #ea5169;
}

.image {
  height: 250px;
  width: 250px;
}
